.row{
    display: grid;
    grid-template-columns: 14% 10% 12% 16% 16% 16%;
    /* flex-direction: row; */
    width: 80%;
    justify-content: space-around;
    align-items: center;
    padding: 1vw;
    /* border: 1px solid red; */
}

.grey--bg{
    background-color: #222;
}

.c--logo{
    display: flex;
    flex-direction: row;    
    align-items: center;
    gap: 1vw;
}

.row img{
    height: 4vh;
}

.info{
    /* justify-self: flex-end; */
}

.num{
    justify-self: flex-end;
    padding-right: 2vw;
    /* border: 1px solid red; */
}

.red{
    color: tomato;
}

.green{
    color: greenyellow;
}

@media screen and (max-width: 600px) {
    .row{
        width: 100%;
    }
    .row img{
        height: 2vh;
    }
}